<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><%- title %></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"><%- title %></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="/addpost" class="btn btn-primary float-right">
                        <i class="fas fa-plus"></i> Add Post
                    </a>
                </h3>
            </div>
            <div class="card-body" id="card_body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Title</th>
                            <th>CatName</th>
                            <th>Image</th>
                            <th>user</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% posts.forEach(function(post, index) { %>
                        <tr>
                            <td><%- index + 1 %></td>
                            <td><%- post.title %></td>
                            <td><%- post.category.name %></td>
                            <td class="d-flex justify-content-around">
                                <% if (post.imageUrl) { %> <% const imageUrls =
                                post.imageUrl.split(","); %> <%
                                imageUrls.forEach(function(imageUrl) { %>
                                <img
                                    src="http://localhost:3000/<%- imageUrl %>"
                                    alt="Image"
                                    width="50"
                                />
                                <% }); %> <% } else { %> No Images <% } %>
                            </td>
                            <td><%- post.user.name %></td>
                            <td>
                                <!-- date fns formatdistance, subdays -->
                                <%- formatDistance(post.createdAt, new Date(), {
                                addSuffix: true }) %>
                            </td>
                            <td>
                                <!-- date fns formatdistance, subdays -->
                                <%- formatDistance(post.updatedAt, new Date(), {
                                addSuffix: true }) %>
                            </td>
                            <td>
                                <a
                                    href="/post/edit/<%- post.id %>"
                                    class="btn btn-primary btn-sm"
                                >
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a
                                    href="/post/delete/<%- post.id %>"
                                    class="btn btn-danger btn-sm"
                                >
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
