<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><%- title %></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"><%- title %></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <a
                        href="/addPreparetionform"
                        class="btn btn-primary float-right"
                    >
                        <i class="fas fa-plus"></i> Add Preparetion
                    </a>
                </h3>
            </div>
            <div class="card-body" id="card_body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Title</th>
                            <th>CatName</th>
                            <th>Image</th>
                            <th>Source</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% preparetions.forEach(function(preparetion, index) {
                        %>
                        <tr>
                            <td><%- index + 1 %></td>
                            <td><%- preparetion.title %></td>
                            <td>
                                <% if (preparetion.catId === '1') { %> বাংলা <%
                                } else if (preparetion.catId === '2') { %>
                                ইংরেজি <% } else if (preparetion.catId === '3')
                                { %> গণিত <% } else if (preparetion.catId ===
                                '4') { %> সাধারণ জ্ঞান <% } %>
                            </td>
                            <td class="d-flex justify-content-around">
                                <% if (preparetion.image) { %> <% const
                                imageUrls = preparetion.image.split(","); %> <%
                                imageUrls.forEach(function(image) { %>
                                <img
                                    src="<%= `${APP_URL}/${image}` %>"
                                    alt="Image"
                                    width="50"
                                />
                                <% }); %> <% } else { %> No Images <% } %>
                            </td>
                            <td><%- preparetion.source %></td>
                            <td>
                                <!-- date fns formatdistance, subdays -->
                                <%- formatDistance(preparetion.createdAt, new
                                Date(), { addSuffix: true }) %>
                            </td>
                            <td>
                                <!-- date fns formatdistance, subdays -->
                                <%- formatDistance(preparetion.updatedAt, new
                                Date(), { addSuffix: true }) %>
                            </td>
                            <td>
                                <a
                                    href="/preparetion/edit/<%- preparetion.id %>"
                                    class="btn btn-primary btn-sm"
                                >
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a
                                    href=""
                                    class="btn btn-danger btn-sm delete-preparation"
                                    data-preparetion-id="<%- preparetion.id %>"
                                >
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>

<script src="/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Attach a click event to a parent element that exists when the page loads
        $(document).on("click", ".delete-preparation", function (event) {
            event.preventDefault(); // Prevent default link behavior

            var preparetionId = $(this).data("preparetion-id");
            const confirmDelete = confirm("Are you sure you want to delete?");
            if (!confirmDelete) {
                return;
            }
            // Make the AJAX request to delete the post
            $.ajax({
                url: "/preparetion/delete/" + preparetionId,
                type: "DELETE",
                success: function (response) {
                    if (response.status === "success") {
                        Toastify({
                            text: response.message,
                            duration: 1000,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "green",
                            stopOnFocus: true,
                            callback: function () {
                                location.assign("/preparetion");
                            },
                        }).showToast();
                    }
                },
                error: function (error) {
                    Toastify({
                        text: error.responseJSON.message,
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "red",
                        stopOnFocus: true,
                    }).showToast();
                },
            });
        });
    });
</script>
